# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.idea
droidbot_output
_site
Gemfile.lock
.DS_Store
documents
venv

apks
output
.vscode/



step_1_doc_generation/examples
step_2_training_data_gen/agent/droidbot/resources/
step_4_accuracy_validation/evaluation/droidtask/apks
step_4_accuracy_validation/evaluation/llama_touch/apks
step_4_accuracy_validation/evaluation/droidtask/data
step_4_accuracy_validation/evaluation/llama_touch/data/agent_exec_traces
step_4_accuracy_validation/evaluation/llama_touch/data/llamatouch_dataset_0521
step_4_accuracy_validation/agent/droidbot/resources/
step_4_accuracy_validation/minimal_experiment_output
temp/
garbage
.env